<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.exoplatform.session6phi.sqlite"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AddWordActivity"
            android:label="@string/title_add_word_activity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.exoplatform.session6phi.sqlite.MainActivity"/>
        </activity>
        
        <activity
            android:name=".ShowWordActivity"
            android:label="@string/title_show_word_activity" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value="org.exoplatform.session6phi.sqlite.MainActivity"/>
        </activity>
    </application>

</manifest>