<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.exoplatform.session8phi.improvedbookstore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BookStoreMainActivity"
            android:label="@string/title_activity_book_store_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddBookActivity"
            android:label="@string/title_activity_add_book" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.exoplatform.session8phi.bookstore.BookStoreMainActivity" />
        </activity>
        <activity
            android:name=".ViewBookDetailsActivity"
            android:label="@string/title_activity_view_book_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.exoplatform.session8phi.bookstore.BookStoreMainActivity" />
        </activity>
        <activity
            android:name=".SearchBookActivity"
            android:label="@string/title_activity_search_book" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.exoplatform.session8phi.bookstore.BookStoreMainActivity" />
        </activity>
        
    </application>

</manifest>